html
	mixin services(header, serviceArray, fromStation, toStation)
		br
		br
		hr
		br
		strong= header
		br
		each service in serviceArray
			br
			= service.originStation.stationName + ' > '
				strong= service.destinationStation.stationName
			br
			= 'Departs ' + fromStation.stationName + ' at '
			strong
				if service.etd !== 'On time'
					del= service.std
				else
					= service.std
				= ' (' + service.etd + ')'
			= ', '
			if service.platform !== null
				= 'platform ' + service.platform
			else
				small no platform information available
			if toStation
				br
				= 'Arriving at ' + toStation.stationName + ' at '
				strong
					if service.eta !== 'On time'
						del= service.sta
					else
						= service.sta
					= ' (' + service.eta + ')'
			br
			br
			hr.divider

	head
		include head.jade
	body
		p
			em trntxt.uk
		if (errorMessage)
			p.error= errorMessage
		if (departureObject)
			strong= 'Departure board for ' + departureObject.fromStation.stationName + ' (' + departureObject.fromStation.stationCode + ')' + (departureObject.toStation ? (' calling at ' + departureObject.toStation.stationName + ' (' + departureObject.toStation.stationCode + ')') : '')
			if departureObject.nrccMessages
				each message in departureObject.nrccMessages
					p.error!= 'NRCC message: ' + message
			if (departureObject.trainServices.length + departureObject.busServices.length === 0)
				p No services found. Trntxt currently does not display information for routes requiring changes.
			if (departureObject.trainServices.length > 0)
				+services('Train services', departureObject.trainServices, departureObject.fromStation, departureObject.toStation)
			
			if departureObject.busServices.length > 0
				+services('Rail replacement bus services',departureObject.busServices, departureObject.fromStation, departureObject.toStation)
		br
		br
		if toStation != undefined && fromStation != undefined
			p
				a(href='/'+toStation+'/'+fromStation) Switch Direction

		include footer.jade