html
	head
		include head.jade
	body
		p
			em trntxt.uk
		if (errorMessage)
			p.error= errorMessage
		if (departureObject)
			strong= 'Departure board for ' + departureObject.fromStation.stationName + ' (' + departureObject.fromStation.stationCode + ')' + (departureObject.toStation ? (' calling at ' + departureObject.toStation.stationName + ' (' + departureObject.toStation.stationCode + ')') : '')
			if (departureObject.trainServices.length === 0)
				p No services found. Trntxt currently does not display information for replacement bus services or routes requiring changes.
			each service in departureObject.trainServices
				br
				br
				hr.divider
				br
				= service.originStation.stationName + ' > '
					strong= service.destinationStation.stationName
				br
				= 'Departs ' + departureObject.fromStation.stationName + ' at '
				strong
					if service.etd !== 'On time'
						del= service.std
					else
						= service.std
					= ' (' + service.etd + ')'
				= ', '
				if service.platform !== null
					= 'platform ' + service.platform
				else
					small no platform information available
				if departureObject.toStation
					br
					= 'Arriving at ' + departureObject.toStation.stationName + ' at '
					strong
						if service.eta !== 'On time'
							del= service.sta
						else
							= service.sta
						= ' (' + service.eta + ')'
		br
		br
		if toStation != undefined && fromStation != undefined
			p
				a(href='/'+toStation+'/'+fromStation) Switch Direction

		include footer.jade